/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* MUI fonts */
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

/* default styles */
html {
    font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* tailwind customizations */
:root {
    @apply bg-primary text-primary;
}

.carousel {
    display: inline-flex;
    overflow-x: hidden;
    /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
    scroll-snap-type: x mandatory;
    /* all below will hide the scrollbar on all browsers.    */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.carousel::-webkit-scrollbar {
    width: 0px;
}

.container--rounded {
    @apply border border-secondary rounded-2xl shadow-2xl bg-primary max-w-[1280px] w-full mx-auto;
}

.container--grid {
    @apply flex items-center justify-center flex-wrap max-w-[800px];
}

.container--footer {
    @apply flex flex-1 py-8 border border-t-primary justify-center items-center;
}

.container--card {
    @apply m-4 p-6 text-left text-inherit border border-primary rounded-lg transition-colors ease-in-out max-w-[300px];
}

.button {
    @apply flex items-center cursor-pointer;
}

.icon {
    @apply text-primary text-2xl mr-2;
}

/* .animationInf {
    @apply animateDown infinite 1.5s
} */

.dark {
    --color-bg-primary: #222222;
    --color-bg-secondary: #rgba(1, 1, 1, .5);
    --color-bg-primary-accent: #9c89b1;
    --color-bg-secondary-accent: rgba(156, 137, 177, .5);
    --color-text-primary: #dbdbdb;
    --color-text-secondary: #222222;
    --color-text-accent: #a17bc9;
    --color-bg-input: #4a5361;
    --color-bg-button: #9c89b1;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #rgba(255, 255, 255, .5);
    --color-text-primary: #222222;
    --color-text-secondary: #666666;
    --color-text-accent: #9c89b1;
    --color-bg-input: #4a5361;
    --color-bg-button: #9c89b1;
}

.acc_wrapper {
    transition: height ease 0.2s;
}
