/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* MUI fonts */
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

/* default styles */
html {
    font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

/* tailwind customizations */
:root {
    @apply bg-primary text-primary;
}

.container--rounded {
    @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto;
}

.container--grid {
    @apply flex items-center justify-center flex-wrap max-w-[800px];
}

.container--footer {
    @apply flex flex-1 py-8 border border-t-primary justify-center items-center;
}

.container--card {
    @apply m-4 p-6 text-left text-inherit border border-primary rounded-lg transition-colors ease-in-out max-w-[300px];
}

.button {
    @apply flex items-center cursor-pointer;
}

.icon {
    @apply text-primary text-2xl mr-2;
}

.dark {
    --color-bg-primary: #222222;
    --color-bg-secondary: #181818;
    --color-text-primary: #dbdbdb;
    --color-text-secondary: #"e2e8f0";
    --color-text-accent: #9c89b1;
    --color-bg-input: #4a5361;
    --color-bg-button: #9c89b1;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #e6e4e4;
    --color-text-primary: #222222;
    --color-text-secondary: #666666;
    --color-text-accent: #9c89b1;
    --color-bg-input: #4a5361;
    --color-bg-button: #9c89b1;
}

.acc_wrapper {
    transition: height ease 0.2s;
}
