@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

:root {
    @apply bg-primary text-primary;
}

.rounded-div {
    @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto;
}

.dark {
    --color-bg-primary: #222222;
    --color-bg-secondary: #181818;
    --color-text-primary: #dbdbdb;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #9C89B1;
    --color-bg-input: #4a5361;
    --color-bg-button: #9C89B1;
}

.light {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #7C7483;
    --color-text-primary: #666666;
    --color-text-secondary: #FFFFFF;
    --color-text-accent: #9C89B1;
    --color-bg-input: #edf2f7;
    --color-bg-button: #2b6cb0;
}
